<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{%staticâ£'myfirstapp/index.css'%}">
<title>index</title>
</head>
<body>
<h1> Hello World </h1>
</body>
</html>